<div>
	<button ng-click = "uploadCSV()">click to upload csv</button>
	<div ng-repeat="(key,value) in data" ng-if = "data">
		<a href ng-click="getGraph(key)"> click to get {{key}} graphical representation</a>
	</div>
</div>